.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  margin: auto;
  padding: 0 1rem;
  background-color: var(--lightGray);
}

.section {
  text-align: left;
  padding: 1rem 2rem;
}

.charts {
  display: flex;
  justify-content: space-around;
}

.report {
  height: 100%;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  padding: 3rem 2rem;
  background-color: white;
}

.a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: white;
}

.a::selection {
  background-color: black;
}
.feedbackInfo {
  border: 4px solid var(--exovePurple);
  height: 135px;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: left;
}
.buttonOrange {
  height: 2rem;
  width: 20rem;
  background-color: var(--exoveOrange);
  cursor: pointer;
  box-shadow: 4px 4px black;
  transition: all ease-in-out 0.2s;
}

.buttonOrange:active {
  background-color: black;
  transform: translate(4px, 4px);
  box-shadow: none;
  color: white;
}

.reportChart {
  border: 1ps solid var(--medBlack);
}

.commentSpan {
  font-weight: 700;
}

.buttonContainer {
  width: 80%;
  height: 10vh;
  margin: 0.5rem auto;
  padding: 1rem 0;
  background-color: white;
}
