@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0&display=swap");

:root {
  /*custom colors*/
  font-family: Jost, sans-serif;
  --exovePurple: #651bde; /*rgb(101,27,222) */
  --exovePink: #f9dcea;
  --medBlack: #292929;
  --darkBlack: #1d1d1d;
  --exoveGreen: #63ad7b; /*rgb(99,173,123) */
  --exoveOrange: #f19c5b; /**rgb(241,156,91) */
  --exoveRed: #f85b6b;
  --darkGray: #a8a8a8;
  --medGray: #d8d8d7;
  --lightGray: #e8e8e8;
  --paleGray: #f2f2f2;
  /* gradient colors */
  --color1: #4bebdec3;
  --color2: #a76acdcc;
  --color3: #e130a3c1;
  --color4: #f85b6bcf;
  --color5: #fff94dc4;
}

html {
  font-size: 15px;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  height: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

select,
textarea,
input,
button {
  font-family: inherit;
  font-size: inherit;
}

input,
textarea,
select {
  border: 1px solid black;
  padding: 0 1rem;
}

.MuiTooltip-tooltip {
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 0 !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem !important;
  font-family: inherit !important;
  margin-top: 0.5rem !important;
}

/* turns off blue autofill colour in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.loading_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.toast-message {
  font-family: Jost, sans-serif;
}
.Toastify__progress-bar {
  background-color: var(--exoveGreen) !important;
}

.Toastify__toast-icon svg {
  fill: var(--exoveGreen) !important;
}
