:root {
  /*custom colors*/
--exovepurple: '#651BDE';/*rgb(101,27,222) */
--medblack: '#292929';
--darkblack: '#1D1D1D';
--exovegreen: '#63AD7B';/*rgb(99,173,123) */
--exoveorange: '#F19C5B';/**rgb(241,156,91) */

}