.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.mainContent {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.searchBar {
    width: 80%;
    height: 2rem;

}

.done {
    background-color: var(--exovePurple);
    color: white;
}

.submit {
    background-color: var(--exoveGreen);
    color: white;
}
.selectionGrid {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: white;

}


@media screen and (max-width: 680px) {

}