.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.mainContent {
    background-color: white;
}

.searchBar {
    width: 80%;

}

.done {
    background-color: var(--exovePurple);
}

.grid {
    display: grid;

}

@media screen and (max-width: 680px) {
    
}