.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.mainContent {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit_container {
  display: flex;
  justify-content: flex-end;
}

/* .submitButton {
  background-color: var(--exoveGreen);
  color: white;
  float: right;
  height: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
} */

.inactive {
  background-color: var(--darkGray);
  cursor: auto;
}

.keyword {
  color: var(--exovePurple);
}

@media screen and (max-width: 940px) {
  .selectionGrid {
    grid-gap: 1.5rem;
  }
}

@media screen and (max-width: 840px) {
  .selectionGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .selectionGrid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
