.dashboard_wrapper {
  display: flex;
  justify-content: center;
}

.dashboard_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 1400px;
}

.search_buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th {
  background-color: var(--paleGray);
  padding: 0.7rem 0.3rem;
  text-align: center;
  font-size: 0.9rem;
}

.table th:first-child {
  padding-left: 2.2rem;
  text-align: left;
}

.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5) {
  width: 3rem;
}

.table td {
  padding: 0.3rem;
  text-align: center;
}

.table td:nth-child(2n) {
}
