/* globals */
.h1 {
}

.h1 {
}

.h3 {
}

.h4 {
}

/* main feedback component */

.main {
  padding: 3rem;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
}

.username {
  color: #6e12e7;
}

.instructionsTitle {
  display: flex;
  align-items: flex-start;
}

.instructions {
  display: flex;
  align-items: flex-start;
  text-align: left;
  word-spacing: 2.5px;
  padding-top: 2rem;
}

.instructionsContainer {
  margin: 2rem -3rem 0 -3rem;
  padding: 1rem 3rem;
  background-color: #f2f2f2;
}
.questionContainer {
  text-align: left;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.catQuest {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Bolean file css */

.bolContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bolQuestion {
  width: 40%;
}

.bolComponent {
  padding: 0.4rem;
  width: 50%;
  display: flex;
}

.bolDecision {
  padding: 0.4rem;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  display: flex;
  transition: all 0.4s ease-out;
}

.bolInitial {
  background: #f2f2f2;
  padding-left: 40%;
}

.bolTrue {
  background: #63ad7b;
}

.bolFalse {
  background: #f85b6bcf;
}

.bolCircle {
  padding: 0.2rem;
  width: 100px;
  height: 100%;
  border-radius: 100px;
  /* border-radius: 20%; */
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.bolInitial > p {
  background: #d5d7d5d1;
}

/* question range css */

.rLabel {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rSpan {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rMainDiv {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.rMainDiv > p {
  width: 40%;
}

.rAnswer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  border-radius: 100px;
  align-items: center;
  max-height: 10px;
}

/* String questions css */
.sMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.sTextarea {
  width: 100%;
}

/* Button */

.button {
  width: 8rem;
  height: 3.5rem;
  cursor: pointer;
}

.loginButton {
  background-color: #45af76;
  box-shadow: 4px 4px black;
  color: white;
  position: absolute;
  border: none;
  bottom: 0;
  right: 0;
}

.loginButton:disabled {
  background-color: #b3b3b3;
  pointer-events: none;
}

.loginButton:active {
  background-color: black;
  transform: translate(4px, 4px);
  box-shadow: none;
}

.formElements {
  display: block;
  position: relative;
  padding: 2rem;
}
