.container {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadowCircle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  /* box-shadow: 12px 12px 15px rgba(10, 30, 10, 0.75); */
  z-index: -1;
}

.outerCircle {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, var(--color1), rgba(250, 250, 250, 0.01)),
    linear-gradient(
      90deg,
      var(--exovePurple) 15%,
      rgba(250, 250, 250, 0.01) 65%
    ),
    linear-gradient(180deg, var(--color3), 80%, rgba(250, 250, 250, 0.01)),
    linear-gradient(270deg, var(--color4), 80%, rgba(250, 250, 250, 0.01));

  border-radius: 50%;
  animation: spin 1.3s infinite linear;
  animation-delay: 1.2s;
  transition: 0.5s;
}

.innerCircle {
  height: 70px;
  width: 70px;
  background: white;
  border-radius: 50%;
  transition: 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
