.card {
    box-sizing: border-box;
    justify-content: space-evenly;
    height: 6rem;
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding: 0.5rem;
    width: 18rem;
    cursor: pointer;
}

.selected {
    background-color: var(--exovePurple);
    color: white;   
    border: none;
}

.avatar {
    height: 80%;
    width: auto;
    clip-path: circle();
    border-radius: 50%;
    border: 2px solid var(--exoveGreen);
}

.h3, .h5 {
margin: 0;
}