.card {
  box-sizing: border-box;

  height: 6rem;
  display: flex;
  border: 1px solid black;
  align-items: center;
  text-align: left;
  padding: 0.5rem;
  width: 18rem;
  cursor: pointer;
}

.unclickable {
  cursor: auto;
}

.selected {
  background-color: var(--exovePurple);
  color: white;
  border: none;
}

.avatar {
  margin: 0 1.2rem;
  height: 80%;
  width: auto;
  clip-path: circle();
  background-color: black;
  border-radius: 50%;
  border: 3px solid var(--exoveGreen);
}

.name,
.title {
  margin: 0;
}

@media screen and (max-width: 940px) {
  .card {
    width: 16.5rem;
  }
}
