.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3rem auto;
}

.searchBar {
    width: 80vw;
    height: 2rem;
    background-color: var(--paleGray);
    border: 2px solid black;
    padding: 0.5rem;

}

.doneButton {
    background-color: var(--exovePurple);
    color: white;
    font-weight: 800;
    height: 2rem;
    width: 5rem;
    border: none;
    box-shadow: 4px 4px black;
    margin-right: 2rem;
    text-transform: uppercase;
}


.doneButton:active {
    background-color: black;
    transform: translate(4px, 4px);
    box-shadow: none;
}

.materialIcons {
    font-family: 'Material Symbols Outlined';
    font-size: 1.75rem;
    margin : 0 1rem; 
    color: white;
}

.searchIconDiv {
    background-color: black;
    height: 2rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    
} 
