.table_row {
  border-bottom: 1px solid black;
}

.table_row_sub {
  background-color: var(--paleGray);
  border-bottom: 1px solid var(--darkGray);
  height: 2.5rem;
}

.table_row_sub td:first-child {
  padding-left: 3.5rem;
  text-align: left;
}

.dot_container {
  display: flex;
  justify-content: center;
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  background-color: black;
  border-radius: 100rem;
}

.red {
  background-color: var(--exoveRed);
}

.green {
  background-color: var(--exoveGreen);
}

.table_row button {
  text-transform: none;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2 ease;
}

.table_row button:hover {
  filter: brightness(90%);
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.first_cell div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.table_row button {
  font-weight: 400;
}

.edit {
  background-color: black;
  width: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request {
  background-color: var(--exovePurple);
  color: white;
}

.not_available {
  color: var(--darkGray);
}

.warning_text {
  color: var(--exoveOrange);
}

.approve_text {
  color: var(--exoveGreen);
}

.remind {
  background-color: var(--darkGray);
  color: white;
}

.approve {
  background-color: var(--exoveGreen);
  color: white;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  background-color: var(--exoveOrange);
  color: white;
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 3rem;
  background-color: var(--paleGray);
  max-width: 1300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
}

.close_modal_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 100rem;
}

.row_loading {
  background-color: var(--paleGray);
  height: 2rem;
}

.numberRed {
  color: var(--exoveRed);
  font-weight: 800;
}

.numberGreen {
  color: var(--exoveGreen);
  font-weight: 800;
}

.table_row td:nth-child(6),
.table_row td:nth-child(7),
.table_row td:nth-child(8) {
  padding: 0.3rem 2rem;
}
