.container {
    height: 100vh;
    background-color: var(--medBlack);
    color: white; 
}

.ul {
    padding: 0.5rem;
}

.li {
    padding: 0.5rem;
    display: flex;
    height: 0.75rem;
    line-height: 0.75rem;
    color: white;
    background-color: black;
    margin: 0.5rem 0;
}

.a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: white;
}
.material-symbols {
    font-family: 'Material Symbols Outlined';
}


@media screen and (max-width: 680px) {
    .container {
        height: 10vh;
        width: 100vw;
    }

    .ul {
        display: flex;
    }
}
