.container {
    display: flex;
    align-items: center;
    height: 4.5rem;
    width:100vw;
   border-bottom: 1px solid gray;
}

.signout {
position: absolute;
color: white;
border:none;
background-color: var(--medBlack);
right: 2rem;
height: 2.5rem;
width: 6rem;
cursor: pointer;
}

.button {
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}


.langButtonDiv {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    
}

.langButton {
    font-weight: 800;
    align-items: center;
   
}
