.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.loginButton {
  color: white;
  background-color: var(--darkBlack);
  border: 1px solid black;
  height: 2rem;
  cursor: pointer;
  margin: 0 1rem;
}

.loginButton:active {
  color: white;
  background-color: var(--medBlack);
}

.loginButton:hover {
  background-color: white;
  color: black;
}

.button {
  height: 2rem;
  cursor: pointer;
}

.langButtonDiv {
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
}

.langButton {
  font-weight: 800;
  align-items: center;
  width: 50px;
}

.displayName {
  color: var(--exovePurple);
  font-weight: 800;
  font-size: 1.2rem;
}
