.loginContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgba(242,242,242, 0.5);
}

.login {
    height: 50%;
    width: 50%; 
    background-color: white;
}


@media screen and (max-width: 620px) {
    .login {
        height: 60%;
        width: 90%; 
    }

}