.container {
  width: 60vw;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.container h1 {
  margin: 2rem 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.h3 {
  text-align: left;
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 16rem;
  background-color: var(--paleGray);
  border: none;
  padding: 0.5rem;
}

.input {
  width: 100%;
  background-color: var(--paleGray);
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.preface {
  min-height: 40vh;
}

.accordionContainer {
  border: 1px solid black;
  line-height: 2.5rem;

  text-align: center;
}

.accordionTitle {
  display: flex;
  background-color: var(--paleGray);
  text-transform: uppercase;
}

.accordionItem {
  height: auto;
}

.materialIcons {
  font-family: "Material Symbols Outlined";
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 1rem;
}

.accordionContent {
  margin-top: 0;
  padding: 1rem;
  min-height: 4rem;
  display: block;
  line-height: normal;
  text-align: left;
}

.spin {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
