.container {
    width: 60vw;
    margin: auto;
}

.form {
    width: 100%;
}

.h3 {
    text-align: left;
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    height: 2rem;
    width: 16rem;
    background-color: var(--paleGray);
    border: none;
    padding: 0.5rem 0.5rem;
}

.input {
    width: 100%;
    background-color: var(--paleGray);
    border: none;
    padding: 0.5rem 0.5rem;
}


.accordionContainer {
    border: 1px solid black;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1rem 0;
  /*  padding: 0.5rem 1rem; */
    text-align: center;
}

.accordionContainer.expand {
    height: 12rem;

}

.accordionTitle {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--paleGray);
    text-transform: uppercase;
    
}

.materialIcons {
    font-family: 'Material Symbols Outlined';
    font-size: 1.75rem;
    cursor: pointer;
    margin : 0 1rem; 
}

.accordionItem {

}

.spin {
    transform:  rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    -moz-transform:    rotate(360deg); 
    -ms-transform:     rotate(360deg); 
    -o-transform:      rotate(360deg);  
    transition: transform 0.5s ease-in-out;
     
}
